In [1]:
import numpy as np
import pandas as pd

### How to load json file

In [2]:
np_json = pd.read_json("data2.json")
np_json

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [26]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":13.5,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
     # "5":300
  }
}

np_dic = pd.DataFrame(data)
np_dic

   Duration  Pulse  Maxpulse  Calories
0        60    110     130.0     409.0
1        60    117     145.0     479.0
2        60    103      13.5     340.0
3        45    109     175.0     282.0
4        45    117     148.0     406.0
5        60    102     127.0       NaN

In [27]:
np_dic.head() # return top or header 5 line

   Duration  Pulse  Maxpulse  Calories
0        60    110     130.0     409.0
1        60    117     145.0     479.0
2        60    103      13.5     340.0
3        45    109     175.0     282.0
4        45    117     148.0     406.0

In [28]:
np_json.tail() # return tail or bottom of file data

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [29]:
np_dic.info() # give information about data or file

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      float64
 3   Calories  5 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 240.0+ bytes